nav {
	width: 77%;
	height: 40px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	background: #f3d5f8;
	border: 1px solid #cccccc;
	position: absolute;
}
nav ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 auto;
	width: 940px;
	}
nav ul li {
	float: left;
}

nav ul li a {
	margin-right: 20px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: red;
	
}
nav ul li a:hover {
	text-decoration: underline;
	color: green ;
	padding: 4px;

}
section p {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count:2;
	width: 60%;
	margin: 30px 0px 10px 10px;
	position: relative;

}

footer {
	background: #666666;
	border-top: 1px solid #cccccc;
	padding: 10px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright: 5px;
	border-radius: 5px;
	text-align:center;
	color: #ffffff;

}

aside {
	float: right;
	margin:50px 170px 0px 0px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	background: #f3d5f8;
	border: 3px solid black;
}
aside ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 5px 0px 5px 5px;
	padding-left: 10px;
	padding-right: 10px; 
	
}
aside ul li a {
	text-decoration: none;
	color: red ;
	

}
aside ul li a:hover {
	text-decoration: underline;
	color: green ;
	
}